<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tooshy.hufstalk">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <meta-data
        android:name="com.facebook.sdk.ApplicationId"
        android:value="757868030981551" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=".MainActivity"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/app_name"
            android:name="tooshy.hufstalk.activity.SplashActivity">
        <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
    </intent-filter>
    </activity>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/app_name"
            android:name="tooshy.hufstalk.activity.MainActivity"> </activity>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/app_name"
            android:name="tooshy.hufstalk.activity.TopicActivity"> </activity>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/app_name"
            android:name="tooshy.hufstalk.activity.LoadingActivity"> </activity>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/app_name"
            android:name="tooshy.hufstalk.activity.LoginActivity"> </activity>
        <activity
            android:name="com.facebook.FacebookActivity"/>
    </application>
</manifest>
